@charset "UTF-8";
/* CSS Document 
MIU Project 4 Gold
Joshua Wisecup
Term 1302 
*/
.headerRow {
	-webkit-box-shadow: 0 10px 10px -8px #333;
	-moz-box-shadow: 0 10px 10px -8px #333;
	box-shadow: 0 10px 10px -8px #333;
	z-index: 1000;
	position: relative;
	padding: 1.5em 0 2.5em 0;
	background: #a9e4f7; /* Old browsers */
	background: -moz-linear-gradient(top,  #a9e4f7 0%, #0fb4e7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a9e4f7), color-stop(100%,#0fb4e7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a9e4f7 0%,#0fb4e7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a9e4f7 0%,#0fb4e7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a9e4f7 0%,#0fb4e7 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a9e4f7 0%,#0fb4e7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9e4f7', endColorstr='#0fb4e7',GradientType=0 ); /* IE6-9 */
}
header h1 {
	text-align: center;
}
header h1 a, header h1 a:hover {	
	color: white;
	text-decoration:none;
}
.bodyRow {
	padding-top: 2em;
	padding-bottom: 2em;
	background: #fff;
}

/* Carousel */

.carousel {
  position: relative;
  margin-bottom: 20px;
  line-height: 1;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: 0.6s ease-in-out left;
     -moz-transition: 0.6s ease-in-out left;
       -o-transition: 0.6s ease-in-out left;
          transition: 0.6s ease-in-out left;
}

.carousel-inner > .item > img {
  display: block;
  line-height: 1;
}

.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}

.carousel-inner > .active {
  left: 0;
}

.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}

.carousel-inner > .next {
  left: 100%;
}

.carousel-inner > .prev {
  left: -100%;
}

.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}

.carousel-inner > .active.left {
  left: -100%;
}

.carousel-inner > .active.right {
  left: 100%;
}

.carousel-control {
  position: absolute;
  top: 40%;
  left: 15px;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  font-size: 60px;
  font-weight: 100;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  background: #222222;
  border: 3px solid #ffffff;
  -webkit-border-radius: 23px;
     -moz-border-radius: 23px;
          border-radius: 23px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.carousel-control.right {
  right: 15px;
  left: auto;
}

.carousel-control:hover {
  color: #ffffff;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

.carousel-caption {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 15px;
  background: #333333;
  background: rgba(0, 0, 0, 0.75);
}

.carousel-caption h4,
.carousel-caption p {
  line-height: 20px;
  color: #ffffff;
}

.carousel-caption h4 {
  margin: 0 0 5px;
}

.carousel-caption p {
  margin-bottom: 0;
}


/* Carousel base class */
.carousel {
}

.carousel .container {
  position: relative;
  z-index: 9;
}

.carousel-inner {
-webkit-box-shadow: 0 10px 10px -8px #333;
-moz-box-shadow: 0 10px 10px -8px #333;
box-shadow: 0 10px 10px -8px #333;	
}

.carousel-control {
  height: 80px;
  margin-top: 0;
  font-size: 120px;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
  background-color: transparent;
  border: 0;
  z-index: 100;
}

.carousel .item {
	height:500px;
}
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

.carousel-caption {
  position: static;
  max-width: 550px;
  padding: 20px;
  margin-top: 200px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.carousel-caption h1,
.carousel-caption .lead {
  margin: 0;
  line-height: 1.25;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
.carousel-caption .btn {
  margin-top: 10px;
}
	
.nav > li > a:hover {
	color: #ffffff;
	background-color: #0088cc;
}

.navbar-form .btn {
margin-top: 5px;
}

.navbar-form {
margin-bottom:20px;
display:inline-block;
}

#errorMessages li {
	color: red;
	font-weight:bold;
}

.btn-danger {
	margin-left:20px;
}

.btn-danger, .btn-info {
	margin-top:20px;
}
.itemBrowse li a {
display: block;
padding: 10px;
margin: .25em 0;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
text-align: left;
}
.itemBrowse li a i {
float: right;	
}

/* Jquery Mobile overrides */

.ui-loader-default {
background: none;
filter: Alpha(Opacity=18);
opacity: .18;
width: 46px;
height: 46px;
margin-left: -23px;
margin-top: -23px;
}

.ui-loader {
display: none;
z-index: 9999999;
position: fixed;
top: 50%;
left: 50%;
border: 0;
}

.ui-loader .ui-icon {
background-color: #000;
display: block;
margin: 0;
width: 44px;
height: 44px;
padding: 1px;
-webkit-border-radius: 36px;
border-radius: 36px;
}

.ui-icon-loading {
background: url(../img/ajax-loader.gif);
background-size: 46px 46px;
}

.ui-loader-default h1 {
font-size: 0;
width: 0;
height: 0;
overflow: hidden;
}



@media (max-width: 1010px) and (min-width: 768px) {
	.span12 {
		width: 100%;
	}
}

/* Smartphones (landscape and portrait) ------------------------ */
@media (max-width:479px) {
/* body { border-left:5px solid yellow;} */
}

/* Smartphone (landscape) ------------------------ */ 
@media (min-width: 480px) and (max-width: 767px) {
/* body { border-left:5px solid orange;} */
}


/* Tablet (portrait) to desktop ------------------------ */
@media (min-width: 768px) and (max-width: 979px) {
/* body { border-left:5px solid red;} */
	.headerRow {
	 	padding-top:0px;
	}
	.homepage .headerRow {
		padding-top:0px;
		padding-bottom:5px;
	}
}

/* Tablet (landscape) and lower styles go here  ------------------------ */
/* This is also the breakpoint for the top nav */
@media (max-width: 980px) {
	body {
		padding-top:0px;
	}
      .carousel .item {
        height: 400px;
      }
      .carousel img {
        width: auto;
        height: 400px;
      }
	  .carousel-caption {
		margin: 120px;  
	  }
}

/* Tablet (portrait) and lower styles go here ------------------------ */ 
@media (max-width: 767px) {
	.headerRow, .homepage .headerRow {
		padding-top:0;
		padding-bottom:5px;
	}
	body {
		padding-left:0;
		padding-right:0;
	}
	.outerContainer {
		padding-left:20px;
		padding-right:20px;
	}
   .carousel {
		height: 300px;
  	}
  	.carousel .container {

  	}
      .carousel .item {
        height: 300px;
      }
      .carousel img {
        height: 300px;
      }
  	.carousel-caption {
	width: 70%;
	padding: 15px 40px;
	margin: 55px;
  	}
  	.carousel-caption h1 {
	font-size: 30px;
  	}
  	.carousel-caption .lead,
  	.carousel-caption .btn {
	font-size: 17px;
  	}
	.footerRow {
	 	padding-top:1em;
	}
	.input-prepend input, .input-append input, .input-prepend input[class*="span"], .input-append input[class*="span"] {
	width: 100%;
	}
}

/* Smartphone (landscape) ------------------------ */ 
@media (min-width: 320px) and (max-width: 550px) {
/* body { border-left:5px solid orange;} */
   
	header h1 {
		margin: 0px 0;
		font-size: 29px;
		font-family: 'Oxygen', sans-serif;
		font-weight:bold;
	}

   .headerRow, .homepage .headerRow {
		height:40px;
	}
   .carousel {
		height: 100px;
		margin-bottom: 0px;
  	}
	.carousel-caption h1 {
	font-size: 24px;
  	}
  	.carousel .container {

  	}
      .carousel .item {
        height: 100px;
      }
      .carousel img {
        height: 100px;
      }
  	.carousel-caption {
		width: 70%;
		padding: 2px 40px;
		margin: 2px auto;
		height: 93px;
  	}
	.carousel-control {
		margin-top: -20px;
	}
	.bodyRow {
		padding-top: .5em;
	}
	.lead {
		margin-bottom: 0px;
		font-size:18px;
	}
	.searchBar .navbar-form {
		margin-bottom:0px;	
	}
	
	.itemBrowse h2 {
		font-size: 20px;	
	}
}

/* Desktop and Tablet Landscape ------------------------ */
@media (min-width: 981px) {
/* body { border-left:5px solid aqua;} */
	h1 {
		font-size: 50.5px;
	}
}

/* Large desktop ------------------------ */
@media (min-width: 1200px) {
/* body { border-left:5px solid blue;} */
}